%h1.sm Choose a set of measurements
%p Here are suggestions for measurements you could enter.
.flex.center
    .myg-list
        - @equations.each do |equation|
            .myg-list--item
                = link_to measurements_url(quantity: params[:quantity], unit: params[:unit], equation: equation.id) do
                    %p= equation.quantities.map { |q| q.name }.join(', ')
                    - if equation.conditions
                        %p.sm Conditions:
                        - equation.conditions.each do |condition|
                            %p.sm= condition
    %p.sm or
    = link_to 'Enter custom measurements', measurements_url(quantity: params[:quantity], unit: params[:unit])
