%h1 Calculations

%table
    %thead
        %tr
            %th{ colspan: '3' }

    %tbody
        - @calculations.each do |calculation|
            %tr>
                %td= link_to 'Show', calculation
                %td= link_to 'Destroy', calculation, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Calculation', root_url
