- meta title: 'Calculations'

.title
    %h1.sm Calculations
    = link_to search_url do
        %i.nc-icon.nc-zoom-2

.myg-grid.myg-wrap--phone
    - if @calculations.any?
        - @calculations.each do |calculation|
            = render calculation
    - else
        = link_to app_root_url, class: 'myg-card', data: { turbolinks_animate_type: 'app' } do
            %h3 It's empty here ...
            %p.sm Start by creating your first calculation
