.myg-card
    text-decoration: none !important
    padding: px(20)
    background: color(background, light)
    +transition
    &:hover, &:focus, &:active
        background: color(background, lighter)
    h3
        margin: 0 0 px(5)
    p
        margin: 0
