.myg-card
    text-decoration: none !important
    padding: px(20)
    background: color(background, light)
    +transition
    &:hover, &:focus, &:active
        background: color(background, lighter)
    h2, h3
        margin: 0 0 px(5)
        &.sym
            +font(serif)
            font-style: italic
    p
        margin: 0
        i
            margin-right: px(10)
