#app.myg-layout
	.myg-content
		padding: myg-spacing(md)
		.title
			+flex
			align-items: center
			justify-content: space-between
			a
				color: color(text, base)
				+transition(color)
				&:hover, &:focus, &:active
					color: color(text, darker)
				i
					font-size: px(20)
		.myg-grid
			&:not(:last-child)
				margin-bottom: px(35)
			& > *
				+myg-grid-span(4)
	.myg-toolbar
		.mdc-toolbar__row
			+flex
			align-items: center
			justify-content: space-evenly
			a
				+flex
				text-decoration: none !important
				color: color(text, base)
				+transition(color)
				&:hover, &:focus, &:active
					color: color(text, darker)
				&:nth-child(3)
					color: color(text, darker)
					i
						font-size: px(20)


body.calculations.index .mdc-toolbar__row a:first-child
	color: color(text, darker) !important
body.quantities .mdc-toolbar__row a:nth-child(2)
	color: color(text, darker) !important
body.categories .mdc-toolbar__row a:nth-child(4)
	color: color(text, darker) !important
body.users .mdc-toolbar__row a:last-child
	color: color(text, darker) !important
