= link_to unit_of_measurement, class: "myg-card #{'highlighted' if local_assigns[:highlighted]}", data: { turbolinks_animate_animation: local_assigns[:animation] } do
    %h2.sym= unit_of_measurement.sym
    %p.sm= unit_of_measurement.name
