- if params[:index] == 'Calculation'
    = render 'calculations/calculation', calculation: Calculation.find(params[:id]), animation: 'fadeout'
- elsif params[:index] == 'Quantity'
    = render 'quantities/quantity', quantity: Quantity.find(params[:id]), animation: 'fadeout'
- elsif params[:index] == 'Constant'
    = render 'constants/constant', constant: Constant.find(params[:id]), animation: 'fadeout'
- elsif params[:index] == 'Pack'
    = render 'packs/pack', pack: Pack.find(params[:id]), animation: 'fadeout'
