/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/variables/color.sass */
:root {
  --color-accent-darker: #2840d0;
  --color-accent-dark: #2d5ee8;
  --color-accent-base: #2d81e8;
  --color-accent-light: #76b8f0;
  --color-accent-lighter: #b6e1f9;
  --color-dark-darker: #242a38;
  --color-dark-dark: #2d3446;
  --color-dark-base: #364158;
  --color-dark-light: #404b61;
  --color-dark-lighter: #545d71;
  --color-light-darker: #9297a7;
  --color-light-dark: #b6b9c2;
  --color-light-base: #d7d9df;
  --color-light-light: #e7e8ec;
  --color-light-lighter: #eff0f2;
  --color-blue-darker: #202e56;
  --color-blue-dark: #283a6c;
  --color-blue-base: #394f89;
  --color-blue-light: #43588f;
  --color-blue-lighter: #576a9b;
  --color-green-dark: #73d287;
  --color-green-base: #88df9b;
  --color-green-light: #ade7b9;
  --color-green-lighter: #cdf0d4;
  --color-yellow-dark: #fff29c;
  --color-yellow-base: #fff7bd;
  --color-yellow-light: #fffad4;
  --color-red-darker: #ec626e;
  --color-red-dark: #e2816a;
  --color-red-base: #f19882;
  --color-red-light: #f6bcae;
  --color-red-lighter: #f9d6cd;
  --color-overlay-dark: rgba(36, 42, 56, 0.13);
  --color-overlay-light: rgba(255, 255, 255, 0.13);
}

/* Usage */
/* line 5, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/variables/size.scss */
:root {
  --size-border-radius-sm: 0.125em
  ;
  --size-border-radius-md: 0.1875em
  ;
  --size-border-radius-lg: 0.3125em
  ;
}

/* Usage */
/* line 9, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/variables/style.scss */
:root {
  --style-box-shadow-sm: 0 0.0625em 0.3125em 0 rgba(36, 42, 56, 0.05)
  ;
  --style-box-shadow-md: 0 0.25em 0.9375em 0 rgba(36, 42, 56, 0.05)
  ;
  --style-box-shadow-lg: 0 0.4375em 2.5em 0 rgba(36, 42, 56, 0.05)
  ;
}

/* Usage */
/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/color.sass */
.accent {
  color: var(--color-accent-dark) !important;
}

/* line 3, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/color.sass */
.washed {
  background: var(--color-light-lighter) !important;
}

/* line 3, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/font.sass */
.normal {
  font-style: normal;
}

/* line 5, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/font.sass */
.italic {
  font-style: italic;
}

/* line 12, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/font.sass */
.primary-font {
  font-family: adelle-sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

/* line 14, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/font.sass */
.secondary-font {
  font-family: kepler-std, grad, freight-text-pro, serif !important;
}

/* line 16, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/font.sass */
.code {
  font-family: "Inconsolata", "Roboto Mono", "Courier New", monospace !important;
}

/* line 23, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/font.sass */
.uppercase {
  text-transform: uppercase;
}

/* line 25, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/font.sass */
.downcase {
  text-transform: downcase;
}

/* line 32, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/font.sass */
.black {
  font-weight: 800;
}

/* line 34, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/font.sass */
.bold {
  font-weight: 700;
}

/* line 36, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/font.sass */
.semibold {
  font-weight: 600;
}

/* line 38, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/font.sass */
.medium {
  font-weight: 500;
}

/* line 40, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/font.sass */
.thin {
  font-weight: 300;
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/visibility.sass */
.hidden {
  display: none !important;
}

/* line 3, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/visibility.sass */
.hide {
  display: none;
}

/* line 5, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/visibility.sass */
.invisible {
  visibility: hidden;
  opacity: 0;
}

/* line 8, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/visibility.sass */
.transparent {
  opacity: 0;
}

/* line 11, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/visibility.sass */
.display {
  display: block !important;
}

/* line 13, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/visibility.sass */
.show {
  display: block;
}

/* line 15, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/visibility.sass */
.visible {
  visibility: visible;
  opacity: 1;
}

/* line 18, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/visibility.sass */
.intransparent {
  opacity: 1;
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/transform.sass */
.h-flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

/* line 8, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/transform.sass */
.v-flip {
  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
  filter: FlipV;
  -ms-filter: "FlipV";
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/select.sass */
.not-selectable {
  user-select: none;
}

/* line 3, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/select.sass */
.selectable {
  user-select: auto;
}

/* line 5, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/select.sass */
.autoselect:focus {
  user-select: all;
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/scroll.sass */
.scrollable {
  overflow-y: auto;
}

/* line 3, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/scroll.sass */
.not-scrollable {
  overflow-y: hidden;
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/cursor.sass */
.cursor-editable {
  cursor: text;
}

/* line 3, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/cursor.sass */
.cursor-help {
  cursor: help;
}

/* line 5, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/cursor.sass */
.cursor-move {
  cursor: move;
}

/* line 7, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/cursor.sass */
.cursor-grab {
  cursor: grab;
}

/* line 9, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/cursor.sass */
.cursor-progress {
  cursor: progress;
}

/* line 11, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/cursor.sass */
.cursor-wait {
  cursor: wait;
}

/* line 13, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/cursor.sass */
.cursor-pointer {
  cursor: pointer;
}

/**
 * jQuery Flexdatalist basic stylesheet.
 *
 * Version:
 * 2.2.1
 *
 * Github:
 * https://github.com/sergiodlopes/jquery-flexdatalist/
 *
 */
/* line 11, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/jquery.flexdatalist.css */
.flexdatalist-results {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #444;
  border-top: none;
  background: #fff;
  z-index: 100000;
  max-height: 300px;
  overflow-y: auto;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  color: #333;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 27, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/jquery.flexdatalist.css */
.flexdatalist-results li {
  border-bottom: 1px solid #ccc;
  padding: 8px 15px;
  font-size: 14px;
  line-height: 20px;
}

/* line 33, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/jquery.flexdatalist.css */
.flexdatalist-results li span.highlight {
  font-weight: 700;
  text-decoration: underline;
}

/* line 37, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/jquery.flexdatalist.css */
.flexdatalist-results li.active {
  background: #2B82C9;
  color: #fff;
  cursor: pointer;
}

/* line 42, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/jquery.flexdatalist.css */
.flexdatalist-results li.no-results {
  font-style: italic;
  color: #888;
}

/**
 * Grouped items
 */
/* line 50, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/jquery.flexdatalist.css */
.flexdatalist-results li.group {
  background: #F3F3F4;
  color: #666;
  padding: 8px 8px;
}

/* line 55, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/jquery.flexdatalist.css */
.flexdatalist-results li .group-name {
  font-weight: 700;
}

/* line 58, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/jquery.flexdatalist.css */
.flexdatalist-results li .group-item-count {
  font-size: 85%;
  color: #777;
  display: inline-block;
  padding-left: 10px;
}

/**
 * Multiple items
 */
/* line 68, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/jquery.flexdatalist.css */
.flexdatalist-multiple:before {
  content: '';
  display: block;
  clear: both;
}

/* line 73, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/jquery.flexdatalist.css */
.flexdatalist-multiple {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  cursor: text;
}

/* line 81, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/jquery.flexdatalist.css */
.flexdatalist-multiple.disabled {
  background-color: #eee;
  cursor: default;
}

/* line 85, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/jquery.flexdatalist.css */
.flexdatalist-multiple:after {
  content: '';
  display: block;
  clear: both;
}

/* line 90, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/jquery.flexdatalist.css */
.flexdatalist-multiple li {
  display: inline-block;
  position: relative;
  margin: 5px;
  float: left;
}

/* line 96, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/jquery.flexdatalist.css */
.flexdatalist-multiple li.input-container,
.flexdatalist-multiple li.input-container input {
  border: none;
  width: 40px;
  height: auto;
  padding: 0 0 0 4px;
  line-height: 24px;
}

/* line 104, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/jquery.flexdatalist.css */
.flexdatalist-multiple li.value {
  display: inline-block;
  padding: 2px 25px 2px 7px;
  background: #eee;
  border-radius: 3px;
  color: #777;
  line-height: 20px;
}

/* line 112, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/jquery.flexdatalist.css */
.flexdatalist-multiple li.toggle {
  cursor: pointer;
  transition: opacity ease-in-out 300ms;
}

/* line 116, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/jquery.flexdatalist.css */
.flexdatalist-multiple li.toggle.disabled {
  text-decoration: line-through;
  opacity: 0.80;
}

/* line 121, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/jquery.flexdatalist.css */
.flexdatalist-multiple li.value span.fdl-remove {
  font-weight: 700;
  padding: 2px 5px;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.70;
}

/* line 132, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/jquery.flexdatalist.css */
.flexdatalist-multiple li.value span.fdl-remove:hover {
  opacity: 1;
}

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* line 12, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
/* line 25, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
/* line 33, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 47, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
/* line 60, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
/* line 70, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 79, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 90, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
/* line 103, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 113, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
/* line 123, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 132, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 142, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
/* line 153, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
/* line 161, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
/* line 170, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 179, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 187, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
sub {
  bottom: -0.25em;
}

/* line 191, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 202, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
/* line 211, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
/* line 220, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
/* line 228, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
/* line 240, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
/* line 256, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 266, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
/* line 277, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
/* line 288, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
/* line 300, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
/* line 311, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 322, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 336, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
/* line 345, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
/* line 354, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 364, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/* line 374, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
/* line 383, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 393, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
/* line 406, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
/* line 415, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 426, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
/* line 434, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
/* line 445, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
[hidden] {
  display: none;
}

/* Slider */
/* line 2, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/slick.css */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

/* line 21, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/slick.css */
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* line 31, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/slick.css */
.slick-list:focus {
  outline: none;
}

/* line 35, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/slick.css */
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

/* line 41, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/slick.css */
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 51, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/slick.css */
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 61, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/slick.css */
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

/* line 68, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/slick.css */
.slick-track:after {
  clear: both;
}

/* line 72, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/slick.css */
.slick-loading .slick-track {
  visibility: hidden;
}

/* line 77, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/slick.css */
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

/* line 85, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/slick.css */
[dir='rtl'] .slick-slide {
  float: right;
}

/* line 89, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/slick.css */
.slick-slide img {
  display: block;
}

/* line 93, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/slick.css */
.slick-slide.slick-loading img {
  display: none;
}

/* line 97, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/slick.css */
.slick-slide.dragging img {
  pointer-events: none;
}

/* line 101, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/slick.css */
.slick-initialized .slick-slide {
  display: block;
}

/* line 105, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/slick.css */
.slick-loading .slick-slide {
  visibility: hidden;
}

/* line 109, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/slick.css */
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

/* line 117, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/slick.css */
.slick-arrow.slick-hidden {
  display: none;
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/text/header.sass */
h1 {
  font-weight: 300;
  font-size: 1.375em;
  line-height: 1.5;
  color: white;
  margin: 0;
}

/* line 7, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/text/header.sass */
h2 {
  font-family: kepler-std, grad, freight-text-pro, serif;
  font-weight: normal;
  font-size: 2.5em;
  color: white;
}

/* line 12, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/text/header.sass */
h3 {
  font-weight: 300;
  font-size: 1.0625em;
  line-height: 1.5;
  margin: 0;
}

/* line 17, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/text/header.sass */
h4 {
  color: var(--color-light-darker);
  font-weight: normal;
  font-size: 1em;
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/text/paragraph.sass */
p {
  font-weight: normal;
  font-size: 1em;
  line-height: 1.75em;
  color: var(--color-light-darker);
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/text/hyperlink.sass */
a {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  font-weight: inherit;
  text-decoration: underline;
}
/* line 7, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/text/hyperlink.sass */
a:hover, a:focus {
  opacity: 0.8;
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/button.sass */
a.btn, button, input[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: adelle-sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 1.125em 1.375em 1.25em;
  font-size: 0.875em;
  font-weight: bold;
  line-height: 1;
  background: var(--color-accent-dark);
  color: white;
  cursor: pointer;
  border: 1px solid var(--color-accent-dark);
  -webkit-border-radius: var(--size-border-radius-sm);
  -moz-border-radius: var(--size-border-radius-sm);
  border-radius: var(--size-border-radius-sm);
  text-decoration: none !important;
  transition: all 0.35s ease-out;
  box-shadow: var(--style-box-shadow-sm);
}
/* line 20, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/button.sass */
a.btn:hover, a.btn:focus, a.btn:active, button:hover, button:focus, button:active, input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active {
  background: var(--color-accent-darker);
  border-color: var(--color-accent-darker);
}
/* line 23, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/button.sass */
a.btn.disabled, button.disabled, input[type="submit"].disabled {
  background: rgba(0, 0, 0, 0.1);
  cursor: not-allowed;
  pointer-events: none;
}
/* line 27, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/button.sass */
a.btn.disabled:hover, button.disabled:hover, input[type="submit"].disabled:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
/* line 29, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/button.sass */
a.btn.disabled:focus, a.btn.disabled:active, button.disabled:focus, button.disabled:active, input[type="submit"].disabled:focus, input[type="submit"].disabled:active {
  pointer-events: none;
}
/* line 33, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/button.sass */
a.btn.warn, button.warn, input[type="submit"].warn {
  background: var(--color-red-darker);
  border-color: var(--color-red-darker);
}
/* line 36, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/button.sass */
a.btn.warn:hover, a.btn.warn:focus, a.btn.warn:active, button.warn:hover, button.warn:focus, button.warn:active, input[type="submit"].warn:hover, input[type="submit"].warn:focus, input[type="submit"].warn:active {
  background: #ec616d;
  border-color: #ec616d;
}
/* line 41, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/button.sass */
a.btn.secondary, button.secondary, input[type="submit"].secondary {
  background: transparent;
  color: var(--color-light-base) !important;
  border-color: var(--color-dark-dark);
  box-shadow: none;
}
/* line 46, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/button.sass */
a.btn.secondary:hover, button.secondary:hover, input[type="submit"].secondary:hover {
  background: var(--color-dark-dark);
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/input.sass */
input:not([type="submit"]) {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.9375em;
  line-height: 1;
  color: white;
  background: rgba(255, 255, 255, 0.05);
  border-radius: var(--size-border-radius-sm);
  border: none;
  padding: 0.9375em 1.0625em 1em;
  width: 100%;
  margin-top: 0.875em;
}
/* line 14, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/input.sass */
input:not([type="submit"]):active, input:not([type="submit"]):focus {
  background: rgba(255, 255, 255, 0.1);
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/checkbox.sass */
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 1.5625em;
  height: 1.5625em;
  padding: 0;
  cursor: pointer;
  border-radius: var(--size-border-radius-sm);
  transition: border 0.15s ease-out, background-color 0.15s ease-out, box-shadow 0.15s ease-out;
}
/* line 11, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/checkbox.sass */
input[type="checkbox"]:checked {
  background: rgba(255, 255, 255, 0.1);
  background: url("components/forms/checkbox/check_white.png") no-repeat center center, rgba(255, 255, 255, 0.1);
  border: none;
  position: relative;
}
/* line 16, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/checkbox.sass */
input[type="checkbox"]:not(:checked) {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: var(--style-box-shadow-sm);
}
/* line 20, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/checkbox.sass */
input[type="checkbox"]:not(:checked):not(:focus) {
  border-color: rgba(255, 255, 255, 0.05);
}

/* line 3, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/error.sass */
div.field_with_errors label {
  display: none;
}
/* line 5, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/error.sass */
div.field_with_errors span.error {
  display: block;
}
/* line 7, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/error.sass */
div.field_with_errors input {
  border-color: var(--color-red-dark);
}
/* line 9, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/error.sass */
div.field_with_errors input:active, div.field_with_errors input:focus {
  border-color: var(--color-red-dark);
  box-shadow: 0 0 0 0.21875em rgba(226, 129, 106, 0.35);
}

/* line 14, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/error.sass */
span.error {
  display: none;
  color: var(--color-red-dark);
  font-weight: 600;
  font-size: 0.875em;
  line-height: 1;
  margin-bottom: 0.875em;
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/label.sass */
label {
  color: var(--color-light-light);
  font-weight: 600;
  font-size: 0.875em;
  line-height: 1;
}
/* line 6, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/label.sass */
label.boolean {
  margin-left: 0.9375em;
  position: relative;
  top: -0.3125em;
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/radio.sass */
input[type="radio"] {
  width: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 1.25em;
  height: 1.25em;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
}
/* line 11, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/radio.sass */
input[type="radio"]:checked {
  background: var(--color-accent-dark);
  background: url(/images/components/forms/checkbox/check_white.png) no-repeat center center, var(--color-accent-dark);
  border: none;
  position: relative;
}
/* line 16, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/radio.sass */
input[type="radio"]:not(:checked) {
  background: white;
}
/* line 19, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/radio.sass */
input[type="radio"]:not(:checked):not(:focus) {
  border-color: var(--color-light-light);
}
/* line 21, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/radio.sass */
input[type="radio"] ~ label {
  margin: 0 0 0.125em 0.9375em;
}

/* line 25, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/radio.sass */
.radio-wrapper > label:not(:last-child) {
  margin-right: 1.5625em;
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/textarea.sass */
textarea {
  font-family: adelle-sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.9375em;
  color: var(--color-dark-dark);
  background: white;
  border: 1px solid var(--color-light-light);
  border-radius: var(--size-border-radius-sm);
  width: 100%;
  resize: none;
  line-height: 1.75;
  padding: 0.8125em 0.9375em;
  min-height: 7.8125em;
}
/* line 13, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/textarea.sass */
textarea:active, textarea:focus {
  border-color: var(--color-accent-dark);
  box-shadow: 0 0 0 0.21875em rgba(45, 94, 232, 0.35);
}
/* line 16, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/textarea.sass */
textarea:active.valid, textarea:active.green, textarea:focus.valid, textarea:focus.green {
  box-shadow: 0 0 0 0.21875em rgba(115, 210, 135, 0.35);
}
/* line 18, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/textarea.sass */
textarea:active.error, textarea:active.red, textarea:focus.error, textarea:focus.red {
  box-shadow: 0 0 0 0.21875em rgba(226, 129, 106, 0.35);
}
/* line 20, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/textarea.sass */
textarea.valid, textarea.green {
  border-color: var(--color-green-dark);
}
/* line 22, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/textarea.sass */
textarea.error, textarea.red {
  border-color: var(--color-red-dark);
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/flexdatalist.sass */
.flexdatalist-results {
  transition: none;
  border: none;
  box-shadow: var(--style-box-shadow-sm);
  border-radius: var(--size-border-radius-sm);
  color: inherit;
  background: var(--color-dark-dark);
  margin-top: 0.625em;
}
/* line 9, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/flexdatalist.sass */
.flexdatalist-results li {
  border-bottom: none;
  padding: 0.75em 0.9375em;
  font-size: inherit;
  line-height: 1.5em;
}
/* line 15, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/flexdatalist.sass */
.flexdatalist-results li span.highlight {
  font-weight: 700;
  text-decoration: none;
}
/* line 18, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/flexdatalist.sass */
.flexdatalist-results li span.item-symbol {
  font-family: kepler-std, grad, freight-text-pro, serif;
  color: var(--color-dark-lighter);
  float: left;
  min-width: 1.25em;
  margin-right: 0.625em;
  line-height: 1.7;
}
/* line 25, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/flexdatalist.sass */
.flexdatalist-results li.active {
  background: var(--color-dark-dark);
  color: inherit;
}
/* line 28, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/flexdatalist.sass */
.flexdatalist-results li.no-results {
  font-style: normal;
  color: var(--color-dark-lighter);
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/hr.sass */
hr {
  margin: 2.8125em auto;
  width: 1.5625em;
  border: 0.125em solid rgba(255, 255, 255, 0.05);
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/hint.sass */
.input span.hint {
  float: right;
  color: var(--color-dark-lighter);
  font-size: 0.875em;
  line-height: 1.5;
}

/* line 2, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/assets/loader.sass */
svg.nc-icon.loader * {
  transition: initial;
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/document/index.sass */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  opacity: 1;
  visibility: visible;
  text-decoration: none;
  outline: none;
  transition: all 0.15s ease-out;
}

/* line 11, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/document/index.sass */
:root {
  font-size: 15px;
  font-family: adelle-sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-weight: 400;
  font-style: normal;
  color: var(--color-light-base);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}
@media (min-width: 800px) {
  /* line 11, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/document/index.sass */
  :root {
    font-size: 16px;
  }
}

/* line 24, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/document/index.sass */
html {
  background: var(--color-dark-darker);
  overflow-x: hidden;
  overflow-y: auto;
}
@media (min-width: 800px) {
  /* line 24, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/document/index.sass */
  html {
    display: none;
  }
}
/* line 30, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/document/index.sass */
html body {
  min-height: 100vh;
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/utilities/math_jax.sass */
#MathJax_Message {
  display: none !important;
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/back/index.sass */
.back {
  position: absolute;
  top: 1.875em;
  left: 1.875em;
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/list/index.sass */
.list {
  margin: 1.5625em 0;
}
/* line 3, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/list/index.sass */
.list > .list-item {
  padding: 0.9375em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none !important;
}
/* line 10, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/list/index.sass */
.list > .list-item svg polygon {
  fill: var(--color-dark-lighter);
}
/* line 12, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/list/index.sass */
.list > .list-item svg:hover polygon {
  fill: white;
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/layouts/app.sass */
nav.app {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4.375em;
  background: var(--color-dark-dark);
  box-shadow: var(--style-box-shadow-lg);
  transition-duration: 0.25s;
}
/* line 14, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/layouts/app.sass */
nav.app.invisible {
  bottom: -4.375em;
}
/* line 16, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/layouts/app.sass */
nav.app > a {
  opacity: 0.5;
  padding: 0 1.5625em;
  text-align: center;
}
/* line 20, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/layouts/app.sass */
nav.app > a:nth-child(3) {
  opacity: 1;
}

/* line 24, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/layouts/app.sass */
body.calculations.index nav.app > a:first-child {
  opacity: 1;
}

/* line 26, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/layouts/app.sass */
body.quantities nav.app > a:nth-child(2) {
  opacity: 1;
}

/* line 28, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/layouts/app.sass */
body.drafts nav.app > a:nth-child(4) {
  opacity: 1;
}

/* line 30, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/layouts/app.sass */
body.devise nav.app > a:last-child {
  opacity: 1;
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/calculations/new.sass */
.calculations.new {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 5, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/calculations/new.sass */
.calculations.new p.setup {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: kepler-std, grad, freight-text-pro, serif;
  font-size: 1.125em;
  font-style: italic;
  width: 100%;
  height: 3.75em;
  background: #242a38;
  box-shadow: var(--style-box-shadow-md);
  position: fixed;
  top: 0;
  left: 0;
  transition-duration: 0.25s;
}
/* line 21, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/calculations/new.sass */
.calculations.new p.setup.invisible {
  top: -3.75em;
}
/* line 23, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/calculations/new.sass */
.calculations.new p.setup span.in {
  font-family: adelle-sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.8125em;
  font-style: normal;
  padding: 0 0.3125em;
}
/* line 28, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/calculations/new.sass */
.calculations.new p.setup span.quantity, .calculations.new p.setup span.unit {
  margin-bottom: -0.0625em;
}
/* line 30, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/calculations/new.sass */
.calculations.new form {
  padding: 3.125em 0 2.1875em;
  width: 100%;
  max-width: 85%;
}
/* line 32, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/calculations/new.sass */
.calculations.new form.pushed-down {
  padding-top: 6.5625em;
}
/* line 36, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/calculations/new.sass */
.calculations.new form div:not(.content-disabled):not(.submit-wrapper):last-child {
  margin-bottom: 2.1875em;
}
/* line 39, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/calculations/new.sass */
.calculations.new form .content-disabled label, .calculations.new form .content-disabled a, .calculations.new form .content-disabled input[type="submit"], .calculations.new form .content-disabled p, .calculations.new form .content-disabled hr {
  display: none;
}
/* line 41, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/calculations/new.sass */
.calculations.new form .content-disabled input {
  cursor: not-allowed;
  pointer-events: none;
  margin-top: 2.1875em;
  background: rgba(0, 0, 0, 0.1);
  color: transparent;
}
/* line 48, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/calculations/new.sass */
.calculations.new form .measurements .submit-wrapper {
  margin-top: 3.75em;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
/* line 53, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/calculations/new.sass */
.calculations.new form .measurements .submit-wrapper a.btn {
  margin-right: 1.5625em;
}
/* line 56, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/calculations/new.sass */
.calculations.new form .measurements .measurement p.margin-of-error {
  color: var(--color-dark-lighter);
  font-size: 0.875em;
  cursor: pointer;
  width: 100%;
  text-align: center;
  margin-bottom: 3.125em;
}
/* line 63, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/calculations/new.sass */
.calculations.new form .measurements .measurement .input {
  margin: 1.5625em 0;
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/calculations/show.sass */
.calculations.show {
  padding: 1.875em;
  padding-top: 5em;
}
/* line 4, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/calculations/show.sass */
.calculations.show .wrapper {
  display: flex;
  align-items: center;
}
/* line 7, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/calculations/show.sass */
.calculations.show .wrapper svg {
  margin-left: 1.5625em;
}
/* line 9, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/calculations/show.sass */
.calculations.show .wrapper svg path, .calculations.show .wrapper svg circle {
  fill: var(--color-dark-lighter);
}
/* line 12, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/calculations/show.sass */
.calculations.show .wrapper .delete svg path, .calculations.show .wrapper .delete svg circle {
  fill: var(--color-red-darker);
}
/* line 14, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/calculations/show.sass */
.calculations.show > .wrapper {
  margin-top: 4.6875em;
  justify-content: space-between;
  align-items: flex-start;
}
/* line 18, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/calculations/show.sass */
.calculations.show > .wrapper > .wrapper {
  margin-top: 0.4375em;
}
/* line 22, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/calculations/show.sass */
.calculations.show > p span:not(:first-child) {
  margin-left: 0.625em;
}
/* line 24, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/calculations/show.sass */
.calculations.show > p span:not(:last-child) {
  margin-right: 0.625em;
}
/* line 27, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/calculations/show.sass */
.calculations.show p.margin {
  margin: 0.9375em 0;
}
/* line 30, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/calculations/show.sass */
.calculations.show > h2 {
  max-width: 100%;
}
/* line 32, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/calculations/show.sass */
.calculations.show > h2 span {
  font-size: 0.75em;
  font-weight: normal;
  color: var(--color-dark-lighter);
}

/* line 4, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/welcome/index.sass */
.welcome.index > .slick > .slick-list .slide {
  height: 100vh;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10vh;
}
/* line 11, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/welcome/index.sass */
.welcome.index > .slick > .slick-list .slide h1 {
  margin-bottom: 1.25em;
}
/* line 13, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/welcome/index.sass */
.welcome.index > .slick > .slick-list .slide p {
  text-align: center;
  max-width: 75%;
}
/* line 16, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/welcome/index.sass */
.welcome.index > .slick > .slick-list .slide .wrapper {
  margin-top: 1.5625em;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
/* line 21, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/welcome/index.sass */
.welcome.index > .slick > .slick-list .slide .wrapper .secondary {
  margin-left: 1.5625em;
}
/* line 23, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/welcome/index.sass */
.welcome.index > .slick > .slick-dots {
  display: flex !important;
  justify-content: center;
  list-style: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 3.125em;
}
/* line 33, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/welcome/index.sass */
.welcome.index > .slick > .slick-dots > li > button {
  display: block;
  width: 0.0625em;
  height: 0.0625em;
  padding: 0.25em;
  margin: 0.625em;
  cursor: pointer;
  color: transparent;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  border: none;
}
/* line 44, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/welcome/index.sass */
.welcome.index > .slick > .slick-dots > li.slick-active > button {
  background: rgba(255, 255, 255, 0.7);
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/welcome/drafts.sass */
.welcome.drafts {
  padding: 2.1875em 1.5625em 6.25em;
}
/* line 3, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/welcome/drafts.sass */
.welcome.drafts p {
  width: 85%;
  margin-top: 1.25em;
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/welcome/language.sass */
.welcome.language {
  display: flex;
  align-items: center;
  flex-direction: column;
}
/* line 5, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/welcome/language.sass */
.welcome.language h1 {
  width: 85%;
  margin: 1.125em 0 1.375em;
}
/* line 8, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/welcome/language.sass */
.welcome.language > .languages {
  width: 85%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.25em;
}
/* line 13, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/welcome/language.sass */
.welcome.language > .languages > a.language {
  padding: 0.75em 1em 0.875em;
  background: rgba(255, 255, 255, 0.05);
  border-radius: var(--size-border-radius-sm);
  color: var(--color-light-base);
  text-decoration: none !important;
}
/* line 19, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/welcome/language.sass */
.welcome.language > .languages > a.language:active, .welcome.language > .languages > a.language:focus {
  background: rgba(255, 255, 255, 0.1);
}

/* line 2, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/devise/shared/links.sass */
.devise .links {
  font-size: 0.9375em;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.375em;
  background: var(--color-dark-dark);
  box-shadow: var(--style-box-shadow-lg);
  color: var(--color-dark-lighter);
  padding: 0 2.1875em;
}
/* line 17, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/devise/shared/links.sass */
.devise .links a {
  text-decoration: none !important;
  margin: 0 0.625em;
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/devise/passwords/new.sass */
.devise.passwords.new {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3.75em;
}
/* line 7, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/devise/passwords/new.sass */
.devise.passwords.new form {
  width: 85%;
}
/* line 9, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/devise/passwords/new.sass */
.devise.passwords.new form .input {
  margin: 1.25em 0;
}
/* line 11, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/devise/passwords/new.sass */
.devise.passwords.new form .form-actions {
  display: flex;
  flex-direction: row-reverse;
}
/* line 14, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/devise/passwords/new.sass */
.devise.passwords.new h1 {
  margin-bottom: 0.9375em;
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/devise/registrations/edit.sass */
.devise.registrations.edit {
  padding: 2.1875em 1.5625em 6.25em;
}
/* line 4, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/devise/registrations/edit.sass */
.devise.registrations.edit form .input {
  margin: 1.25em 0;
}
/* line 6, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/devise/registrations/edit.sass */
.devise.registrations.edit form .form-actions {
  display: flex;
  flex-direction: row-reverse;
}
/* line 9, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/devise/registrations/edit.sass */
.devise.registrations.edit form .form-actions a {
  margin-right: 1.5625em;
}
/* line 11, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/devise/registrations/edit.sass */
.devise.registrations.edit p {
  margin: 0.3125em 0;
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/devise/registrations/new.sass */
.devise.registrations.new {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3.75em;
}
/* line 7, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/devise/registrations/new.sass */
.devise.registrations.new form {
  width: 85%;
}
/* line 9, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/devise/registrations/new.sass */
.devise.registrations.new form .input {
  margin: 1.25em 0;
}
/* line 11, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/devise/registrations/new.sass */
.devise.registrations.new form .form-actions {
  display: flex;
  flex-direction: row-reverse;
}
/* line 14, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/devise/registrations/new.sass */
.devise.registrations.new h1 {
  margin-bottom: 0.9375em;
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/devise/sessions/new.sass */
.devise.sessions.new {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3.75em;
}
/* line 7, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/devise/sessions/new.sass */
.devise.sessions.new form {
  width: 85%;
}
/* line 9, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/devise/sessions/new.sass */
.devise.sessions.new form .input {
  margin: 1.25em 0;
}
/* line 11, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/devise/sessions/new.sass */
.devise.sessions.new form .form-actions {
  display: flex;
  flex-direction: row-reverse;
}
/* line 14, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/packages/devise/sessions/new.sass */
.devise.sessions.new h1 {
  margin-bottom: 0.9375em;
}
