/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/variables/color.sass */
:root {
  --color-accent-darker: #2840d0;
  --color-accent-dark: #2d5ee8;
  --color-accent-base: #2d81e8;
  --color-accent-light: #76b8f0;
  --color-accent-lighter: #b6e1f9;
  --color-dark-darker: #242a38;
  --color-dark-dark: #2d3446;
  --color-dark-base: #364158;
  --color-dark-light: #404b61;
  --color-dark-lighter: #545d71;
  --color-light-darker: #9297a7;
  --color-light-dark: #b6b9c2;
  --color-light-base: #d7d9df;
  --color-light-light: #e7e8ec;
  --color-light-lighter: #eff0f2;
  --color-blue-darker: #202e56;
  --color-blue-dark: #283a6c;
  --color-blue-base: #394f89;
  --color-blue-light: #43588f;
  --color-blue-lighter: #576a9b;
  --color-green-dark: #73d287;
  --color-green-base: #88df9b;
  --color-green-light: #ade7b9;
  --color-green-lighter: #cdf0d4;
  --color-yellow-dark: #fff29c;
  --color-yellow-base: #fff7bd;
  --color-yellow-light: #fffad4;
  --color-red-dark: #e2816a;
  --color-red-base: #f19882;
  --color-red-light: #f6bcae;
  --color-red-lighter: #f9d6cd;
  --color-overlay-dark: rgba(36, 42, 56, 0.13);
  --color-overlay-light: rgba(255, 255, 255, 0.13);
}
@elseif type-of($color) == "number" {
  /* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/variables/color.sass */
  :root {
    --color-accent: $color;
  }
}
@elseif type-of($color) == "number" {
  /* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/variables/color.sass */
  :root {
    --color-dark: $color;
  }
}
@elseif type-of($color) == "number" {
  /* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/variables/color.sass */
  :root {
    --color-light: $color;
  }
}
@elseif type-of($color) == "number" {
  /* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/variables/color.sass */
  :root {
    --color-blue: $color;
  }
}
@elseif type-of($color) == "number" {
  /* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/variables/color.sass */
  :root {
    --color-green: $color;
  }
}
@elseif type-of($color) == "number" {
  /* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/variables/color.sass */
  :root {
    --color-yellow: $color;
  }
}
@elseif type-of($color) == "number" {
  /* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/variables/color.sass */
  :root {
    --color-red: $color;
  }
}
@elseif type-of($color) == "number" {
  /* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/variables/color.sass */
  :root {
    --color-overlay: $color;
  }
}
/* Usage */
/* line 5, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/variables/size.scss */
:root {
  --size-border-radius-sm: 0.125em
  ;
  --size-border-radius-md: 0.1875em
  ;
  --size-border-radius-lg: 0.3125em
  ;
}

/* Usage */
/* line 9, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/variables/style.scss */
:root {
  --style-box-shadow-sm: 0 0.0625em 0.3125em 0 rgba(36, 42, 56, 0.05)
  ;
  --style-box-shadow-md: 0 0.25em 0.9375em 0 rgba(36, 42, 56, 0.05)
  ;
  --style-box-shadow-lg: 0 0.4375em 2.5em 0 rgba(36, 42, 56, 0.05)
  ;
}

/* Usage */
/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/color.sass */
.accent {
  color: var(--color-accent-dark) !important;
}

/* line 3, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/color.sass */
.washed {
  background: var(--color-light-lighter) !important;
}

/* line 3, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/font.sass */
.normal {
  font-style: normal;
}

/* line 5, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/font.sass */
.italic {
  font-style: italic;
}

/* line 12, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/font.sass */
.primary-font {
  font-family: adelle-sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

/* line 14, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/font.sass */
.secondary-font {
  font-family: freight-text-pro, serif !important;
}

/* line 16, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/font.sass */
.code {
  font-family: "Inconsolata", "Roboto Mono", "Courier New", monospace !important;
}

/* line 23, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/font.sass */
.uppercase {
  text-transform: uppercase;
}

/* line 25, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/font.sass */
.downcase {
  text-transform: downcase;
}

/* line 32, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/font.sass */
.black {
  font-weight: 800;
}

/* line 34, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/font.sass */
.bold {
  font-weight: 700;
}

/* line 36, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/font.sass */
.semibold {
  font-weight: 600;
}

/* line 38, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/font.sass */
.medium {
  font-weight: 500;
}

/* line 40, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/font.sass */
.thin {
  font-weight: 300;
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/visibility.sass */
.hidden {
  display: none !important;
}

/* line 3, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/visibility.sass */
.hide {
  display: none;
}

/* line 5, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/visibility.sass */
.invisible {
  visibility: hidden;
  opacity: 0;
}

/* line 8, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/visibility.sass */
.transparent {
  opacity: 0;
}

/* line 11, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/visibility.sass */
.display {
  display: block !important;
}

/* line 13, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/visibility.sass */
.show {
  display: block;
}

/* line 15, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/visibility.sass */
.visible {
  visibility: visible;
  opacity: 1;
}

/* line 18, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/visibility.sass */
.intransparent {
  opacity: 1;
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/transform.sass */
.h-flip {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

/* line 8, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/transform.sass */
.v-flip {
  -moz-transform: scale(1, -1);
  -webkit-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
  filter: FlipV;
  -ms-filter: "FlipV";
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/select.sass */
.not-selectable {
  user-select: none;
}

/* line 3, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/select.sass */
.selectable {
  user-select: auto;
}

/* line 5, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/select.sass */
.autoselect:focus {
  user-select: all;
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/scroll.sass */
.scrollable {
  overflow-y: auto;
}

/* line 3, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/scroll.sass */
.not-scrollable {
  overflow-y: hidden;
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/cursor.sass */
.cursor-editable {
  cursor: text;
}

/* line 3, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/cursor.sass */
.cursor-help {
  cursor: help;
}

/* line 5, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/cursor.sass */
.cursor-move {
  cursor: move;
}

/* line 7, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/cursor.sass */
.cursor-grab {
  cursor: grab;
}

/* line 9, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/cursor.sass */
.cursor-progress {
  cursor: progress;
}

/* line 11, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/cursor.sass */
.cursor-wait {
  cursor: wait;
}

/* line 13, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/modules/classes/cursor.sass */
.cursor-pointer {
  cursor: pointer;
}

/**
 * jQuery Flexdatalist basic stylesheet.
 *
 * Version:
 * 2.2.1
 *
 * Github:
 * https://github.com/sergiodlopes/jquery-flexdatalist/
 *
 */
/* line 11, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/jquery.flexdatalist.css */
.flexdatalist-results {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #444;
  border-top: none;
  background: #fff;
  z-index: 100000;
  max-height: 300px;
  overflow-y: auto;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  color: #333;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 27, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/jquery.flexdatalist.css */
.flexdatalist-results li {
  border-bottom: 1px solid #ccc;
  padding: 8px 15px;
  font-size: 14px;
  line-height: 20px;
}

/* line 33, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/jquery.flexdatalist.css */
.flexdatalist-results li span.highlight {
  font-weight: 700;
  text-decoration: underline;
}

/* line 37, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/jquery.flexdatalist.css */
.flexdatalist-results li.active {
  background: #2B82C9;
  color: #fff;
  cursor: pointer;
}

/* line 42, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/jquery.flexdatalist.css */
.flexdatalist-results li.no-results {
  font-style: italic;
  color: #888;
}

/**
 * Grouped items
 */
/* line 50, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/jquery.flexdatalist.css */
.flexdatalist-results li.group {
  background: #F3F3F4;
  color: #666;
  padding: 8px 8px;
}

/* line 55, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/jquery.flexdatalist.css */
.flexdatalist-results li .group-name {
  font-weight: 700;
}

/* line 58, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/jquery.flexdatalist.css */
.flexdatalist-results li .group-item-count {
  font-size: 85%;
  color: #777;
  display: inline-block;
  padding-left: 10px;
}

/**
 * Multiple items
 */
/* line 68, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/jquery.flexdatalist.css */
.flexdatalist-multiple:before {
  content: '';
  display: block;
  clear: both;
}

/* line 73, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/jquery.flexdatalist.css */
.flexdatalist-multiple {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  cursor: text;
}

/* line 81, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/jquery.flexdatalist.css */
.flexdatalist-multiple.disabled {
  background-color: #eee;
  cursor: default;
}

/* line 85, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/jquery.flexdatalist.css */
.flexdatalist-multiple:after {
  content: '';
  display: block;
  clear: both;
}

/* line 90, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/jquery.flexdatalist.css */
.flexdatalist-multiple li {
  display: inline-block;
  position: relative;
  margin: 5px;
  float: left;
}

/* line 96, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/jquery.flexdatalist.css */
.flexdatalist-multiple li.input-container,
.flexdatalist-multiple li.input-container input {
  border: none;
  width: 40px;
  height: auto;
  padding: 0 0 0 4px;
  line-height: 24px;
}

/* line 104, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/jquery.flexdatalist.css */
.flexdatalist-multiple li.value {
  display: inline-block;
  padding: 2px 25px 2px 7px;
  background: #eee;
  border-radius: 3px;
  color: #777;
  line-height: 20px;
}

/* line 112, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/jquery.flexdatalist.css */
.flexdatalist-multiple li.toggle {
  cursor: pointer;
  transition: opacity ease-in-out 300ms;
}

/* line 116, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/jquery.flexdatalist.css */
.flexdatalist-multiple li.toggle.disabled {
  text-decoration: line-through;
  opacity: 0.80;
}

/* line 121, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/jquery.flexdatalist.css */
.flexdatalist-multiple li.value span.fdl-remove {
  font-weight: 700;
  padding: 2px 5px;
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.70;
}

/* line 132, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/jquery.flexdatalist.css */
.flexdatalist-multiple li.value span.fdl-remove:hover {
  opacity: 1;
}

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* line 12, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
/* line 25, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
/* line 33, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 47, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
/* line 60, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
/* line 70, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 79, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 90, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
/* line 103, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 113, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
/* line 123, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 132, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 142, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
/* line 153, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
/* line 161, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
/* line 170, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 179, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 187, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
sub {
  bottom: -0.25em;
}

/* line 191, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 202, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
/* line 211, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
/* line 220, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
/* line 228, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
/* line 240, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
/* line 256, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 266, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
/* line 277, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
/* line 288, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
/* line 300, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
/* line 311, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 322, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 336, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
/* line 345, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
/* line 354, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 364, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/* line 374, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
/* line 383, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 393, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
/* line 406, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
/* line 415, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 426, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
/* line 434, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
/* line 445, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/vendor/normalize.css */
[hidden] {
  display: none;
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/text/header.sass */
h1 {
  font-family: freight-text-pro, serif;
  font-weight: bold;
  font-size: 3em;
}

/* line 5, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/text/header.sass */
h2 {
  font-weight: normal;
  font-size: 1.875em;
}

/* line 8, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/text/header.sass */
h3 {
  font-weight: normal;
  font-size: 1.5em;
}

/* line 11, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/text/header.sass */
h4 {
  color: var(--color-light-darker);
  font-weight: normal;
  font-size: 1em;
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/text/paragraph.sass */
p {
  font-weight: normal;
  font-size: 1em;
  line-height: 1.75em;
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/text/hyperlink.sass */
a {
  font-size: inherit;
  line-height: inherit;
  color: var(--color-accent-dark);
  font-weight: 400;
}
/* line 6, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/text/hyperlink.sass */
a:hover, a:focus {
  text-decoration: underline;
}
/* line 8, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/text/hyperlink.sass */
a.inherit {
  color: inherit;
  font-weight: inherit;
  text-decoration: underline;
}
/* line 12, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/text/hyperlink.sass */
a.inherit:hover {
  color: var(--color-accent-dark);
}
/* line 14, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/text/hyperlink.sass */
a.simple {
  text-decoration: none !important;
}
/* line 16, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/text/hyperlink.sass */
a.big {
  font-weight: 600;
}
/* line 18, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/text/hyperlink.sass */
a.thick {
  font-weight: 700;
}
/* line 21, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/text/hyperlink.sass */
a.big:hover, a.big:focus, a.thick:hover, a.thick:focus {
  text-decoration: none;
  opacity: 0.8;
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/button.sass */
a.btn, button, input[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: adelle-sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 1em 1.25em 1.125em;
  font-size: 0.875em;
  font-weight: 600;
  line-height: 1;
  background: var(--color-accent-dark);
  color: white;
  cursor: pointer;
  border: 1px solid var(--color-accent-dark);
  -webkit-border-radius: var(--sizes-border-radius-sm);
  -moz-border-radius: var(--sizes-border-radius-sm);
  border-radius: var(--sizes-border-radius-sm);
  text-decoration: none !important;
  transition: all 0.35s ease-out;
}
/* line 7, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/button.sass */
a.btn.btn, button.btn, input[type="submit"].btn {
  padding: 0.9375em 1.25em 1.0625em;
}
/* line 21, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/button.sass */
a.btn:hover, a.btn:focus, a.btn:active, button:hover, button:focus, button:active, input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active {
  background: var(--color-accent-darker);
  border-color: var(--color-accent-darker);
}
/* line 24, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/button.sass */
a.btn:focus, a.btn:active, button:focus, button:active, input[type="submit"]:focus, input[type="submit"]:active {
  box-shadow: 0 0 0 0.21875em rgba(45, 94, 232, 0.35);
}
/* line 26, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/button.sass */
a.btn.disabled, button.disabled, input[type="submit"].disabled {
  opacity: 0.35;
  cursor: not-allowed;
}
/* line 29, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/button.sass */
a.btn.disabled:hover, button.disabled:hover, input[type="submit"].disabled:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
/* line 31, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/button.sass */
a.btn.disabled:focus, a.btn.disabled:active, button.disabled:focus, button.disabled:active, input[type="submit"].disabled:focus, input[type="submit"].disabled:active {
  pointer-events: none;
}
/* line 35, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/button.sass */
a.btn.wide, button.wide, input[type="submit"].wide {
  padding-left: 2.8125em;
  padding-right: 2.8125em;
}
/* line 40, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/button.sass */
a.btn.small, button.small, input[type="submit"].small {
  padding: 0.75em 1.125em 0.875em;
}
/* line 44, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/button.sass */
a.btn.secondary, button.secondary, input[type="submit"].secondary {
  background: transparent;
  color: var(--color-accent-dark) !important;
  border-color: var(--color-light-light);
}
/* line 48, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/button.sass */
a.btn.secondary:hover, button.secondary:hover, input[type="submit"].secondary:hover {
  border-color: var(--color-accent-dark);
}
/* line 52, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/button.sass */
a.btn.white, button.white, input[type="submit"].white {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  border-color: transparent;
  border-radius: var(--sizes-border-radius-md);
}
/* line 57, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/button.sass */
a.btn.white:hover, button.white:hover, input[type="submit"].white:hover {
  background: rgba(255, 255, 255, 0.2);
  border-color: transparent;
}
/* line 60, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/button.sass */
a.btn.white:focus, a.btn.white:active, button.white:focus, button.white:active, input[type="submit"].white:focus, input[type="submit"].white:active {
  box-shadow: var(--styles-box-shadow-sm);
}
/* line 63, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/button.sass */
a.btn.flexible, button.flexible, input[type="submit"].flexible {
  position: relative;
  border-radius: var(--sizes-border-radius-md);
}
/* line 66, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/button.sass */
a.btn.flexible:hover, button.flexible:hover, input[type="submit"].flexible:hover {
  transform: translate3d(0, -0.0625em, 0);
  box-shadow: var(--styles-box-shadow-sm);
}
/* line 71, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/button.sass */
a.btn.omniauth, button.omniauth, input[type="submit"].omniauth {
  background: var(--color-accent-base);
  border-color: var(--color-accent-base);
  padding-left: 1.25em;
  padding-right: 1.25em;
}
/* line 76, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/button.sass */
a.btn.omniauth svg, button.omniauth svg, input[type="submit"].omniauth svg {
  margin-right: 5.3125em;
  width: 1em;
  height: 1em;
}
/* line 80, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/button.sass */
a.btn.omniauth svg path, button.omniauth svg path, input[type="submit"].omniauth svg path {
  stroke: white;
}
/* line 82, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/button.sass */
a.btn.omniauth span, button.omniauth span, input[type="submit"].omniauth span {
  margin-right: 5em;
}
/* line 84, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/button.sass */
a.btn.omniauth .caption, button.omniauth .caption, input[type="submit"].omniauth .caption {
  width: 100%;
  text-align: center;
}
/* line 87, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/button.sass */
a.btn.omniauth:focus, a.btn.omniauth:hover, button.omniauth:focus, button.omniauth:hover, input[type="submit"].omniauth:focus, input[type="submit"].omniauth:hover {
  border-color: var(--color-accent-dark);
}
/* line 91, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/button.sass */
a.btn.loader, button.loader, input[type="submit"].loader {
  position: relative;
}
/* line 93, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/button.sass */
a.btn.loader svg, button.loader svg, input[type="submit"].loader svg {
  display: none;
  position: absolute;
  width: 1.5em;
  height: 1.5em;
}
/* line 98, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/button.sass */
a.btn.loader svg line, button.loader svg line, input[type="submit"].loader svg line {
  stroke: white;
  stroke-width: 1.5;
}
/* line 101, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/button.sass */
a.btn.loader.loading, button.loader.loading, input[type="submit"].loader.loading {
  height: 3.125em;
  padding-top: 0;
  padding-bottom: 0;
}
/* line 107, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/button.sass */
a.btn.icon, button.icon, input[type="submit"].icon {
  padding: 0.9375em 1.25em 1.0625em;
}
/* line 109, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/button.sass */
a.btn.icon.btn, button.icon.btn, input[type="submit"].icon.btn {
  padding: 0.875em 1.375em 1em;
}
/* line 111, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/button.sass */
a.btn.icon > span, button.icon > span, input[type="submit"].icon > span {
  position: relative;
  top: 0.0625em;
}
/* line 114, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/button.sass */
a.btn.icon > span svg, button.icon > span svg, input[type="submit"].icon > span svg {
  margin-right: 0.75em;
}
/* line 116, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/button.sass */
a.btn.icon > span .caption, button.icon > span .caption, input[type="submit"].icon > span .caption {
  position: relative;
  top: -0.125em;
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/checkbox.sass */
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 1.25em;
  height: 1.25em;
  padding: 0;
  cursor: pointer;
  border-radius: var(--sizes-border-radius-sm);
  transition: border 0.15s ease-out, background-color 0.15s ease-out, box-shadow 0.15s ease-out;
}
/* line 11, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/checkbox.sass */
input[type="checkbox"]:checked {
  background: var(--color-accent-dark);
  background: url("components/forms/checkbox/check_white.png") no-repeat center center, var(--color-accent-dark);
  border: none;
  position: relative;
}
/* line 16, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/checkbox.sass */
input[type="checkbox"]:not(:checked) {
  background: white;
}
/* line 19, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/checkbox.sass */
input[type="checkbox"]:not(:checked):not(:focus) {
  border-color: var(--color-light-light);
}

/* line 3, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/error.sass */
div.field_with_errors label {
  display: none;
}
/* line 5, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/error.sass */
div.field_with_errors span.error {
  display: block;
}
/* line 7, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/error.sass */
div.field_with_errors input {
  border-color: var(--color-red-dark);
}
/* line 9, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/error.sass */
div.field_with_errors input:active, div.field_with_errors input:focus {
  border-color: var(--color-red-dark);
  box-shadow: 0 0 0 0.21875em rgba(226, 129, 106, 0.35);
}

/* line 14, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/error.sass */
span.error {
  display: none;
  color: var(--color-red-dark);
  font-weight: 600;
  font-size: 0.875em;
  line-height: 1;
  margin-bottom: 0.875em;
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/input.sass */
input:not([type="submit"]) {
  font-family: adelle-sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.9375em;
  line-height: 1;
  color: var(--color-dark-dark);
  background: white;
  border: 1px solid var(--color-light-light);
  border-radius: var(--sizes-border-radius-sm);
  padding: 0.8125em 0.9375em 0.875em;
  width: 100%;
}
/* line 11, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/input.sass */
input:not([type="submit"]):active, input:not([type="submit"]):focus {
  border-color: var(--color-accent-dark);
  box-shadow: 0 0 0 0.21875em rgba(45, 94, 232, 0.35);
}
/* line 14, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/input.sass */
input:not([type="submit"]):active.valid, input:not([type="submit"]):active.green, input:not([type="submit"]):focus.valid, input:not([type="submit"]):focus.green {
  box-shadow: 0 0 0 0.21875em rgba(115, 210, 135, 0.35);
}
/* line 16, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/input.sass */
input:not([type="submit"]):active.error, input:not([type="submit"]):active.red, input:not([type="submit"]):focus.error, input:not([type="submit"]):focus.red {
  box-shadow: 0 0 0 0.21875em rgba(226, 129, 106, 0.35);
}
/* line 18, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/input.sass */
input:not([type="submit"]).valid, input:not([type="submit"]).green {
  border-color: var(--color-green-dark);
}
/* line 20, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/input.sass */
input:not([type="submit"]).error, input:not([type="submit"]).red {
  border-color: var(--color-red-dark);
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/label.sass */
label {
  display: block;
  color: var(--color-dark-dark);
  font-weight: 600;
  font-size: 0.875em;
  line-height: 1;
  margin-bottom: 0.875em;
}
/* line 8, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/label.sass */
label.boolean {
  margin: 0 0 0.1875em 0.9375em;
}
/* line 10, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/label.sass */
label.checkbox {
  margin: 0;
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/radio.sass */
input[type="radio"] {
  width: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 1.25em;
  height: 1.25em;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
}
/* line 11, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/radio.sass */
input[type="radio"]:checked {
  background: var(--color-accent-dark);
  background: url(/images/components/forms/checkbox/check_white.png) no-repeat center center, var(--color-accent-dark);
  border: none;
  position: relative;
}
/* line 16, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/radio.sass */
input[type="radio"]:not(:checked) {
  background: white;
}
/* line 19, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/radio.sass */
input[type="radio"]:not(:checked):not(:focus) {
  border-color: var(--color-light-light);
}
/* line 21, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/radio.sass */
input[type="radio"] ~ label {
  margin: 0 0 0.125em 0.9375em;
}

/* line 25, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/radio.sass */
.radio-wrapper > label:not(:last-child) {
  margin-right: 1.5625em;
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/textarea.sass */
textarea {
  font-family: adelle-sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 0.9375em;
  color: var(--color-dark-dark);
  background: white;
  border: 1px solid var(--color-light-light);
  border-radius: var(--sizes-border-radius-sm);
  width: 100%;
  resize: none;
  line-height: 1.75;
  padding: 0.8125em 0.9375em;
  min-height: 7.8125em;
}
/* line 13, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/textarea.sass */
textarea:active, textarea:focus {
  border-color: var(--color-accent-dark);
  box-shadow: 0 0 0 0.21875em rgba(45, 94, 232, 0.35);
}
/* line 16, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/textarea.sass */
textarea:active.valid, textarea:active.green, textarea:focus.valid, textarea:focus.green {
  box-shadow: 0 0 0 0.21875em rgba(115, 210, 135, 0.35);
}
/* line 18, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/textarea.sass */
textarea:active.error, textarea:active.red, textarea:focus.error, textarea:focus.red {
  box-shadow: 0 0 0 0.21875em rgba(226, 129, 106, 0.35);
}
/* line 20, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/textarea.sass */
textarea.valid, textarea.green {
  border-color: var(--color-green-dark);
}
/* line 22, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/base/form/textarea.sass */
textarea.error, textarea.red {
  border-color: var(--color-red-dark);
}

/* line 2, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/assets/loader.sass */
svg.nc-icon.loader * {
  transition: initial;
}

/* line 1, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/document/index.sass */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  opacity: 1;
  visibility: visible;
  text-decoration: none;
  outline: none;
  transition: all 0.15s ease-out;
}

/* line 11, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/document/index.sass */
:root {
  font-size: 15px;
  font-family: adelle-sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-weight: 400;
  font-style: normal;
  color: var(--color-dark-dark);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}
@media (min-width: 800px) {
  /* line 11, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/document/index.sass */
  :root {
    font-size: 16px;
  }
}

/* line 24, c:/Users/Jonas/apps/phylator/app/assets/stylesheets/components/document/index.sass */
html {
  background: white;
  overflow-x: hidden;
  overflow-y: auto;
}
