body.calculations.measurements:not(.show) {
  .myg-content {
    padding: myg-spacing(2);

    form {
      .measurement {
        border-bottom: myg__px(1) solid myg-theme__color(border);
        padding: myg__px(25) 0;

        .myg-form-field--inline-container {
          .myg-form-field {
            margin-top: myg__px(20);

            &:first-child {
              flex: 1;
            }

            &:last-child {
              flex: 1.5;
            }
          }
        }
      }

      .myg-button__container.reverse {
        flex-direction: row-reverse;
        margin-top: myg__px(15);
      }
    }
  }
}
