.modalist--content-body.calculations.share {
  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    a {
      color: myg-theme__color(text, base);
      text-decoration: none !important;

      @include myg-animate__transition;

      &:hover,
      &:focus,
      &:active {
        color: myg-theme__color(accent, base);
      }
    }
  }
}
