body.calculations.show {
  .myg-content {
    #name {
      margin: 0;
    }

    #description {
      margin: px(5) 0 0;

      & + p {
        margin-top: 0;
      }
    }

    form {
      margin-bottom: px(35);
    }

    .myg-list > .myg-list--item {
      a {
        text-decoration: none !important;

        &:hover,
        &:focus,
        &:active {
          p {
            color: color(text, darker) !important;
          }
        }

        p {
          color: color(text, base);

          @include transition(color);

          &:first-child {
            margin-top: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }

          &.sm {
            margin: 0;
          }
        }
      }
    }
  }
}
