body.welcome.index {
  .myg-content {
    @include myg-grid__smaller-than(phone) {
      align-items: center;
      flex-direction: column;
      justify-content: center;

      @include myg-grid__flex;
    }

    section#head {
      align-items: center;
      justify-content: space-evenly;
      margin: 0 auto;
      max-width: 85%;
      padding: myg__px(50) 0;
      width: myg__px(1500);

      @include myg-grid__flex;

      .content-wrapper {
        margin-right: myg__px(50);

        @include myg-grid__smaller-than(phone) {
          align-items: center;
          flex-direction: column;
          margin-right: 0;
          text-align: center;

          @include myg-grid__flex;
        }

        h1 {
          margin: 0 0 myg__px(10);
        }

        h2 {
          color: myg-theme__color(text, light);
          margin: 0 0 myg__px(40);
        }

        .myg-button__container {
          margin-bottom: myg__px(25);
        }
      }

      .image-wrapper {
        @include myg-grid__smaller-than(phone) {
          display: none;
        }

        img {
          height: 75vh;
          max-height: myg__px(500);
          min-height: myg__px(350);
        }
      }
    }
  }
}
