.modalist--content-body.welcome.language {
  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    a {
      color: color(text, base);
      text-decoration: none !important;

      @include transition;

      &:hover,
      &:focus,
      &:active {
        color: color(accent, base);
      }
    }
  }
}
