- meta title: 'Forgot password?'

%h1.sm Forgot password?
%p No problem. Recover your account by creating a new one.

= simple_form_for resource, as: resource_name, url: user_password_url, authenticity_token: true, html: { id: 'password-form' } do |f|
    = component 'myg/form-field', as: :input, attribute: :email, class_name: 'user', floating_label: 'Email', input_html: { required: true, type: 'email', autofocus: true }

- replace :footer do
    %p.sm
        = link_to 'Try to login', new_user_session_url, class: 'hyperlink--inherit'
    = component 'myg/button', value: 'Proceed', form: 'password-form'
