#suggestion {
  background: myg-theme__color(background, light);
  margin-top: 0;
  padding: myg-spacing(2);

  @include myg-animate__transition(margin-top);

  h3 {
    margin-top: 0;
  }

  .myg-button__container {
    margin-top: myg__px(15);

    p > a {
      color: myg-theme__color(text, base);
      text-decoration: none !important;

      @include myg-animate__transition(color);

      &:hover,
      &:focus,
      &:active {
        color: myg-theme__color(accent, base);
      }
    }
  }
}
