= component 'modalist', title: 'Change language' do
    = component 'modalist/closer'

%p= link_to 'Deutsch', url_without_parameters(url_for(:back)) + '?locale=de'
%p= link_to 'English', url_without_parameters(url_for(:back)) + '?locale=en'
