%h1 Phylator
%p A simple but powerful calculator for physics.

.links
    = link_to 'Android', 'https://play.google.com/store/apps/details?id=com.herokuapp.phylator', class: 'btn', target: '_blank'
    = link_to 'iOS', '', class: 'btn', target: '_blank'
    = link_to 'Windows 10', 'https://www.microsoft.com/store/apps/9p2s8l446bhc', class: 'btn', target: '_blank'

#nativegap
    = asset 'icons/nativegap.svg'
