body.calculations.new
    .myg-content
        padding: myg-spacing(md)
        .myg-form-field
            &:not(:first-of-type)
                margin-top: px(25)
            label
                color: color(text, base)
                font-weight: normal
                margin-bottom: px(15)
                font-size: px(16)
                line-height: 1.75
            input
                margin-top: 0
        .flex.reverse
            margin-top: px(35)
