body.search.index
    .myg-content
        .tools
            #tab.calculations ~ a.calculations
                color: color(text, darker)
            #tab.quantities ~ a.quantities
                color: color(text, darker)
            #tab.packs ~ a.packs
                color: color(text, darker)
        .myg-grid
            & > p
                margin-top: 0
