/*------------------------
	font icons
-------------------------*/

.nc-icon.nc-tail-left:before {
  content: "\ea02";
}

.nc-icon.nc-zoom-2:before {
  content: "\ea03";
}

.nc-icon.nc-simple-add:before {
  content: "\ea04";
}

.nc-icon.nc-single-03:before {
  content: "\ea06";
}

.nc-icon.nc-calculator:before {
  content: "\ea07";
}

.nc-icon.nc-gift-2:before {
  content: "\ea09";
}

.nc-icon.nc-ungroup:before {
  content: "\ea0a";
}

.nc-icon.nc-share-26:before {
  content: "\ea0b";
}

.nc-icon.nc-trash:before {
  content: "\ea0c";
}

.nc-icon.nc-bold:before {
  content: "\ea0d";
}

.nc-icon.nc-check-circle-08:before {
  content: "\ea0e";
}

.nc-icon.nc-e-check:before {
  content: "\ea0f";
}

.nc-icon.nc-shape-oval:before {
  content: "\ea10";
}

