/*------------------------
	font icons
-------------------------*/

.nc-icon.nc-tail-left:before {
  content: "\ea02";
}

.nc-icon.nc-zoom-2:before {
  content: "\ea03";
}

.nc-icon.nc-simple-add:before {
  content: "\ea04";
}

.nc-icon.nc-single-03:before {
  content: "\ea06";
}

.nc-icon.nc-calculator:before {
  content: "\ea07";
}

.nc-icon.nc-text:before {
  content: "\ea08";
}

.nc-icon.nc-gift-2:before {
  content: "\ea09";
}

