google_analytics:
  tracking_id: XXX

skylight:
  token: XXX


development:
  algoliasearch:
    application_id: XXX
    api_key: XXX
    search_key: XXX
  sentry_raven:
    dsn: XXX
  stripe:
    publishable_key: XXX
    secret_key: XXX


production:
  algoliasearch:
    application_id: XXX
    api_key: XXX
    search_key: XXX
  sentry_raven:
    dsn: XXX
  stripe:
    publishable_key: XXX
    secret_key: XXX


# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base: XXX
