#application.myg-layout {
  .myg-toolbar {
    background: myg-theme__color(background, base);
    border: none;
    padding: 0 myg__px(20) 0 myg__px(6);

    @include myg-grid__smaller-than(phone) {
      padding: 0 myg__px(20);

      .mdc-toolbar__section--align-start {
        justify-content: center;
        margin-top: myg__px(35);
      }

      .mdc-toolbar__section--align-end {
        display: none;
      }
    }

    svg {
      height: myg__px(50);
    }

    a {
      color: myg-theme__color(text, base);
      font-size: myg__px(15);
      text-decoration: none !important;

      @include myg-animate__transition(color);

      &:not(:first-child) {
        margin-left: myg__px(20);
      }

      &:hover,
      &:focus,
      &:active {
        color: myg-theme__color(accent, base);
      }
    }
  }
}
