.calculations.new
    display: flex
    flex-direction: column
    align-items: center
    p.setup
        display: flex
        justify-content: center
        align-items: center
        cursor: pointer
        font-family: $font-family-secondary
        font-size: px(18)
        font-style: italic
        width: 100%
        height: px(60)
        background: color(dark, darker, true)
        box-shadow: style(box-shadow, md)
        position: fixed
        top: 0
        left: 0
        transition-duration: .25s
        &.invisible
            top: px(-60)
        span.in
            font-family: $font-family
            font-size: px(13)
            font-style: normal
            padding: 0 px(5)
    form
        padding: px(50) 0 px(35)
        &.pushed-down
            padding-top: px(105)
        width: 100%
        max-width: 85%
        div:not(.content-disabled):not(.submit-wrapper):last-child
            margin-bottom: px(35)
        .content-disabled
            label, a, input[type="submit"], p, hr
                display: none
            input
                cursor: not-allowed
                pointer-events: none
                margin-top: px(35)
                background: rgba(black, .1)
                color: transparent
        .measurements
            .submit-wrapper
                margin-top: px(60)
                display: flex
                flex-direction: row-reverse
                align-items: center
                a.btn
                    margin-right: px(25)
            .measurement
                p.margin-of-error
                    color: color(dark, lighter)
                    font-size: px(14)
                    cursor: pointer
                    width: 100%
                    text-align: center
                    margin-bottom: px(50)
                .input
                    margin: px(25) 0
                hr
                    margin: px(45) auto
                    width: px(25)
                    border: px(2) solid rgba(white, .05)
