.calculations.show
    padding: px(30)
    padding-top: px(80)
    .wrapper
        display: flex
        align-items: center
        svg
            margin: 0 px(12)
            path, circle
                fill: color(dark, lighter)
        .delete svg
            margin-right: 0
            path, circle
                fill: color(red, darker)
    & > .wrapper
        margin-top: px(75)
        justify-content: space-between
        align-items: flex-start
        & > .wrapper
            margin-top: px(7)

    & > p span
        &:not(:first-child)
            margin-left: px(10)
        &:not(:last-child)
            margin-right: px(10)

    p.margin
        margin: px(15) 0

    & > h2
        max-width: 100%
        span
            font-size: .75em
            font-weight: normal
            color: color(dark, lighter)

    & > .share
        .modal-content-wrapper
            padding: px(22) px(25) px(25)
            h3
                margin-bottom: px(15)
            .wrapper
                display: grid
                grid-template-columns: 1fr 1fr
                grid-gap: px(20)
                & > a
                    padding: px(12) px(16) px(14)
                    background: rgba(white, .05)
                    border-radius: size(border-radius, sm)
                    color: color(light, base)
                    text-decoration: none !important
                    &:active, &:focus
                        background: rgba(white, .1)

    & > .signup
        .modal-content-wrapper
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            padding: px(50) px(35) px(55)
            p
                text-align: center
                margin: px(20) 0 px(35)
            .flex-wrapper
                display: flex
                align-items: center
                a:first-child
                    margin-right: px(25)
