.calculations.show:not(.measurements)
    & > .head-wrapper
        position: relative
        z-index: 1
        display: flex
        flex-direction: column
        justify-content: flex-end
        height: 40vh
        width: 100%
        padding: px(35) px(30)
        background: color(dark, dark)
        p span
            &:not(:first-child)
                margin-left: px(10)
            &:not(:last-child)
                margin-right: px(10)
    & > .account-wrapper
        position: relative
        top: 0
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding: px(30)
        background: darken(color(dark, darker, true), .75)
        transition-duration: .25s
        &.invisible
            top: px(-100)
            & ~ .content-wrapper
                top: px(-100)
        .flex-wrapper
            display: flex
            align-items: center
            a:first-child
                margin-right: px(25)
    & > .content-wrapper
        position: relative
        top: 0
        padding: px(35) px(30)
        transition-duration: .25s
        h3:not(:first-child)
            margin-top: px(45)
        p
            margin-top: px(10)



    & > .modal
        &.share
            max-width: px(600) !important
            .modal-content-wrapper
                padding: px(22) px(25) px(25)
                h3
                    margin-bottom: px(15)
                .wrapper
                    display: grid
                    grid-template-columns: 1fr 1fr
                    grid-gap: px(20)
                    & > a
                        padding: px(12) px(16) px(14)
                        background: color(dark, base)
                        border-radius: size(border-radius, sm)
                        color: color(light, base)
                        text-decoration: none !important
                        &:active, &:focus
                            background: color(dark, light)

        &.signup
            max-width: px(600) !important
            .modal-content-wrapper
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                padding: px(50) px(35) px(55)
                p
                    text-align: center
                    margin: px(20) 0 px(35)
                .flex-wrapper
                    display: flex
                    align-items: center
                    a:first-child
                        margin-right: px(25)

        &.edit
            max-width: px(600) !important
            .modal-content-wrapper
                padding: px(30) px(35) px(35)
                .input
                    margin-bottom: px(20)
                .flex-wrapper
                    display: flex
                    flex-direction: row-reverse

        &.delete
            max-width: px(200) !important
            .modal-content-wrapper
                padding: 0
