$myg-theme: (
  accent: (
    light: #3383f7,
    base: #2577ed,
    dark: #0e5fd4,
    contrast: #18242f
  ),
  text: (
    lighter: #3d5466,
    light: #587286,
    base: #8899a6,
    dark: #8899a6,
    darker: #fff
  ),
  background: (
    lighter: #18242f,
    light: #1b2936,
    base: #233446,
    dark: #2e425a,
    darker: #3d5466
  ),
  border: #18242f,
  box-shadow: rgba(#18242f, 0.05),
  error: #f6809a,
  success: #4dbb65,
  overlay: (
    light: transparentize(#18242f, 0.13),
    dark: transparentize(#18242f, 0.13),
  )
);

$myg-theme__scrollbar: (
  width: myg__px(5),
  track-background: transparent,
  thumb-border-radius: myg__px(2.5),
  thumb-background: myg-theme__color(background, darker),
  thumb-hover-background: myg-theme__color(text, dark)
);
