= asset 'components/brand/logo'
%h2 Ypu gqt lost .(
%p This page does not exist. We hope your integrity is intact. Stay cool & eat a banana!
.myg-button--container
    = link_to 'phylator.com', root_url, class: 'myg-button'
    = link_to 'Apples on Amazon', 'https://www.amazon.com/s/ref=sr_1_1_hso_sc_smartcategory_1?rh=n%3A724694011%2Ck%3Aapple&keywords=apple&ie=UTF8&qid=1522065982&sr=8-1-acs', target: '_blank', class: 'myg-button myg-button--secondary'
