$myg-theme: (
    accent: (
        light: #3383f7,
        base: #2577ed,
        dark: #0e5fd4,
        contrast: #1B2936
    ),
    text: (
        lighter: #3D5466,
        light: #587286,
        base: #8899A6,
        dark: #8899A6,
        darker: #FFFFFF
    ),
    background: (
        lighter: #1B2936,
        light: #233446,
        base: #2E425A,
        dark: #364a63,
        darker: #3e536c
    ),
    border: #1B2936,
    box-shadow: rgba(#1B2936, .05),
    error: #F6809A,
    success: #4dbb65,
    overlay: (
        light: transparentize(#141D26, 0.13),
        dark: transparentize(#141D26, 0.13),
    )
);
