$myg-theme: (
    accent: (
        light: #3383f7,
        base: #2577ed,
        dark: #0e5fd4,
        contrast: #141D26
    ),
    text: (
        lighter: #3D5466,
        light: #587286,
        base: #8899A6,
        dark: #8899A6,
        darker: #FFFFFF
    ),
    background: (
        lighter: #141D26,
        light: #18242f,
        base: #1B2936,
        dark: #233446,
        darker: #2E425A
    ),
    border: #111D2B,
    box-shadow: rgba(#141D26, .05),
    error: #F6809A,
    success: #4dbb65,
    overlay: (
        light: transparentize(#141D26, 0.13),
        dark: transparentize(#141D26, 0.13),
    )
);
