$myg-theme: (
    accent: (
        light: #279bfa,
        base: #1c95f7,
        dark: #148beb,
        contrast: #141D26
    ),
    text: (
        lighter: #FFFFFF,
        light: #8899A6,
        base: #8899A6,
        dark: #587286,
        darker: #3D5466
    ),
    background: (
        lighter: #2E425A,
        light: #233446,
        base: #1B2936,
        dark: #18242f,
        darker: #141D26
    ),
    border: #111D2B,
    box-shadow: rgba(#657786, .05),
    error: #F6809A,
    success: #4dbb65,
    overlay: (
        light: transparentize(#141D26, 0.13),
        dark: transparentize(#141D26, 0.13),
    )
);
