-# - unless current_user && (current_user.purchases.count + Pack.where(price: 0).count) == Pack.all.count
-#     .ad
-#         %h3= t 'quantities.index.ad.title'
-#         %p= t 'quantities.index.ad.content'
-#         = link_to t('quantities.index.ad.link'), categories_url, class: 'btn', data: { turbolinks_animate_type: 'nav' }

.title
    %h1.sm Quantities
    = link_to search_url(tab: 'quantities') do
        %i.myg-i-icon.myg-i-zoom-2

.myg-grid.myg-wrap--phone
    - @quantities.each do |quantity|
        = render quantity

.title
    %h1.sm Constants
    = link_to search_url(tab: 'constants') do
        %i.myg-i-icon.myg-i-zoom-2

.myg-grid.myg-wrap--phone
    - @constants.each do |constant|
        = render constant
