%h1 Physical quantities

.cards
    - @quantities.each do |quantity|
        = link_to quantity, class: 'card' do
            .wrapper
                %h2.small= quantity.symbol
                %p.small
                    %span= quantity.name
                    - if quantity.vector
                        ·
                        %span Vector
            = asset 'components/list/item-open.svg'
