- meta title: @category.name

- replace :title do
    %h1= @category.name

%p= @category.description

%h2 Packs
.myg-grid.myg-wrap--phone
    - @packs.each do |pack|
        = render pack, animation: 'fadeout'
