- meta title: @category.name

- replace :title do
  %h1= @category.name

%p= @category.description

%h2= t('d.packs')
.myg-grid__grid.myg-grid__wrap--phone
  - @packs.each do |pack|
    = render pack, animation: 'fadeout'
