- replace :title do
    %h1= @category.name



%p
    = @category.description

%h3= t 'd.p.packs'
.cards
    - @category.packs.each do |pack|
        = render 'packs/pack', pack: pack, animation: 'fadeout'
