body.r404.not_found {
  .myg-toolbar {
    display: none;
  }

  .myg-content {
    align-items: center;
    background: myg-theme__color(background, base);
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;

    @include myg-grid__flex;

    svg {
      height: myg__px(70);
    }

    h2,
    p {
      max-width: 85%;
      text-align: center;
    }

    h2 {
      margin: myg__px(40) 0 myg__px(10);
    }

    p {
      margin: 0 0 myg__px(30);
    }
  }
}
