input[type="checkbox"]
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    width: px(25)
    height: px(25)
    padding: 0
    cursor: pointer
    border-radius: size(border-radius, sm)
    transition: border .15s ease-out, background-color .15s ease-out, box-shadow .15s ease-out
    &:checked
        background: color(dark, base)
        background: url("https://phylator.herokuapp.com/check_white.png") no-repeat center center, color(dark, base)
        border: none
        position: relative
    &:not(:checked)
        background: color(dark, dark)
        box-shadow: style(box-shadow, sm)
        // background: url("components/forms/checkbox/check_light.png") no-repeat center center
        &:not(:focus)
            border-color: color(dark, dark)


.modal input[type="checkbox"]
    &:checked
        background: color(dark, light)
        background: url("https://phylator.herokuapp.com/check_white.png") no-repeat center center, color(dark, light)
    &:not(:checked)
        background: color(dark, base)
