input:not([type="submit"])
    font-family: $font-family
    font-size: px(15)
    line-height: 1
    color: white
    background: rgba(white, .05)
    border-radius: size(border-radius, sm)
    border: none
    padding: px(15) px(17) px(16)
    // width: px(350)
    // max-width: 90%
    width: 100%
    margin-top: px(14)
    &:active, &:focus
        background: rgba(white, .1)
