#desktop
    = asset 'components/brand/logo'
    %h2 Phylator is only available on phones.
    %p Shrink the window if possible. We're working to make Phylator available on all screen sizes.
    = link_to 'Track our progress', Settings.phylator.socials.twitter, target: '_blank', class: 'myg-button'
