#desktop
    = asset 'components/brand/logo'
    %h2= t('mozaic.desktop.title')
    %p= t('mozaic.desktop.content')
    = link_to t('mozaic.desktop.track_our_progress'), Settings.phylator.socials.twitter, target: '_blank', class: 'myg-button'
