.welcome.product
    padding: px(60)
    .header
        display: flex
        justify-content: space-between
        align-items: center
    // p
    //     margin-top: px(15)
    // #nativegap
    //     position: fixed
    //     bottom: px(30)
    //     right: px(30)
    // .links
    //     margin: px(45) 0
    //     display: flex
    //     align-items: center
    //     a.btn:not(:first-child)
    //         margin-left: px(25)
