$sizes: (
    border-radius: (sm: .125em, md: .1875em, lg: .3125em)
);

:root {
    @each $name, $size in $sizes {
        @if type-of($size) == "map" {
            @each $subname, $subsize in $size {
                --size-#{$name}-#{$subname}: $subsize
            }
        } @elseif type-of($size) == "number" {
            --size-#{$name}: $size
        }
    }
}

@function size($size-name, $size-variant:null) {
    @if ($size-variant != null) {
        @return var(--sizes-#{$size-name}-#{$size-variant})
    } @else {
        @return var(--sizes-#{$size-name})
    }
}

@function px($px, $element-font-size:16) {
    @return $px/$element-font-size+em
}


/* Usage */

// size($name)
// size($name, $type)
